<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Senha</title>
</head>
<body>
    <form action="/conta_usuario", method="POST">
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha">
        <label for="confirm_senha">Confirme a senha: </label>
        <input type="password" name="confirm_senha" id="confirm_senha"><br>
        <button>Finalizar</button>
    </form>
    
</body>
</html>